/*WEB FONTS DEFINITION*/
@font-face {
    font-family: 'Ubuntu';
    src: url(./fonts/Ubuntu-Bold.ttf) format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'UbuntuLight';
    src: url(./fonts/Ubuntu-Light.ttf) format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Varela';
    src: url(./fonts/Varela-Regular.ttf) format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Inconsolata';
    src: url(./fonts/Inconsolata-Regular.ttf) format("truetype");
    font-display: swap;
}

/*Cookie is used by Buy Me a Coffee*/
@font-face {
    font-family: 'Cookie';
    src: url(./fonts/Cookie-Regular.ttf) format("truetype");
    font-display: swap;
}

/*END -- WEB FONTS DEFINITION*/

body{
    font-family: 'Varela';
    font-size: 1.15rem;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Ubuntu';
}

header h2{
    font-family:'UbuntuLight';
    font-weight: 300;
}

.flex-center{
    display: flex;
    justify-content: center;
}

a{
    color:#000a12;
}
a:hover{
    color: #62727b;
}
p{
    font-size: 1.2rem;
    text-align: justify;
}
header{
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background: #000a12;
    color: white;
    position: relative;
}

h1{
    text-align: left;
    font-size: 3rem;
    text-transform: lowercase;
    font-style: italic;
}
#style-box{
    height: 6vh;
    width: 40vw;
    background: #4f5b62;
    position: absolute;
    left: 60vw;
    bottom: -3vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}

#style-box a{
    color:white;
    padding-left: 10px;
}
#style-box a:hover{
    color:wheat;
}
footer{
    width: 100%;
    margin-top: 60px;
    padding: 10px;
}

section{
    max-width: 450px;
    margin: 0 auto !important;
    padding-top: 50px !important;
}
/*************************Commont styles*************************/
.pointer{
    cursor: pointer;
}
/*-------Padding utilities---------*/
.padding-left-15{
    padding-left: 15px;
}
.padding-left-30{
    padding-left: 30px;
}
.padding-left-45{
    padding-left: 45px;
}
.padding-top-15{
    padding-top: 15px;
}
.padding-top-25{
    padding-top: 25px;
}
.padding-bottom-25{
    padding-bottom: 25px;
}
/*-----END Padding utilities--------*/

/*------CODE HIGHLIGHT utilities---*/
.code-font{
    font-family: 'Inconsolata';
}
.code-string{
    color:#008C79;
}
.code-number, .code-bool{
    color:blue;
}
.code-color{
    color:#4f5b62;
}
.html-brace{
    color: #8eacbb; 
}
.html-tag{
     color:#0277bd;
}
.html-attribute{
     color:#58a5f0;
}
.html-attribute-content{
     color:#ff833a;
}
.function{
     color:#0288d1;
}
.gray-background{
    background-color: #F5F5F6;
}
/*----END CODE HIGHLIGHT utilities---*/
.hidden-label{
    display: none;
}
/*************************END Commont styles/*************************/
#import-steps{
    border: none;
    display: flex;
}

.description p{
    margin-bottom: 0;
}

.description-size{
    display: flex;
    justify-content: flex-end;
}

.description-size a{
    background-color: #4f5b62 !important;
    color: white !important;
    font-family: UbuntuLight;
    font-weight: 300 !important;
}

.content{
    text-align: left !important;
}

#example-code-container{
    font-size: 16px;
    max-width: 450px; /*IE fix*/
}

#html-copy-to-clipboard{
    display: flex;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 25px;
}

#html-copy-to-clipboard div{
    display: flex;
}

#example-js-code-container, #example-code-block{
    font-size: 20px;
}

@media only screen and (max-width: 450px){
    #example-code-container{
        padding-left:2px !important;
        padding-right:0px !important;
    }
    #example-js-code-container, #example-code-block{
        font-size: 15px;
    }
    #html-copy-to-clipboard{
        font-size: 13px;
    }
}

#generator-section-container{
    background-color: #F5F5F6;
    margin-top: 30px;
}

.scrollable-container{
    max-height: 40vh;
    border: 1px solid lightgray;        
    overflow-y: scroll;
}

.scrollable-container .scrollable-content{
    min-height: 80vh;
    position: relative;
}
.scrollable-container .scrollable-content .top{
    position: absolute;
    top:5px;
}

.scrollable-container .scrollable-content span{
    position: absolute;
    top: 50%;
}

.scrollable-container .scrollable-content .bottom{
    position: absolute;
    bottom:5px;
}

#example-1-width{
    width: 80px;
}

.disclaimer {
    padding-top: 15px;
}

.color-input{
    height: 38px !important;
    padding: 2px !important;
}
#use-arrows-label{
    font-size: 1.2rem;
}
.other-project-links-container{
    justify-content: space-around;
    flex-wrap: wrap;
}
.other-project-links-container a{
    text-align: center;
    text-transform: uppercase;
    font-family: cursive;
    color: #4f5b62;
}
/************SEMANTIC UI OVERRIDES***************/
.step{
    padding-left:0 !important;
    padding-right:0 !important;
    border-bottom: none !important;
}
.ui.secondary.button{
    background-color: #000a12 !important;
}
.ui.toggle.checkbox input:checked~.box:before, .ui.toggle.checkbox input:checked~label:before{
    background-color:#000a12 !important;
}
.ui.ordered.steps .step:before{
    display: flex;
    align-self: start;
}
/************END SEMANTIC UI OVERRIDES************/


