body{
    font-family: 'Varela';
    font-size: 1.15rem;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Ubuntu';
}

.flex-center{
    display: flex;
    justify-content: center;
}
a{
    color:rgba(0,0,0,.87)
}
a:hover{
    color: #62727b;
}
p{
    font-size: 1.2rem;
}
header{
    text-align: center;
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
}

footer{
    width: 100%;
    margin-top: 30px;
    padding: 10px;
}

section{
    max-width: 450px;
    margin: 0 auto !important;
    padding-top: 50px !important;
}
/*************************Commont styles*************************/
.pointer{
    cursor: pointer;
}
/*-------Padding utilities---------*/
.padding-left-15{
    padding-left: 15px;
}
.padding-left-30{
    padding-left: 30px;
}
.padding-left-45{
    padding-left: 45px;
}
.padding-top-15{
    padding-top: 15px;
}
.padding-top-25{
    padding-top: 25px;
}
.padding-bottom-25{
    padding-bottom: 25px;
}
/*-----END Padding utilities--------*/

/*------CODE HIGHLIGHT utilities---*/
.code-font{
    font-family: 'Inconsolata';
}
.code-string{
    color:#008C79;
}
.code-number{
    color:blue;
}
.code-color{
    color:#4f5b62;
}
.html-brace{
    color: #8eacbb; 
}
.html-tag{
     color:#0277bd;
}
.html-attribute{
     color:#58a5f0;
}
.html-attribute-content{
     color:#ff833a;
}
.function{
     color:#0288d1;
}
.gray-background{
    background-color: #F5F5F6;
}
/*----END CODE HIGHLIGHT utilities---*/

/*************************END Commont styles/*************************/
#import-steps{
    border: none;
    display: flex;
}

.content{
    text-align: left !important;
}

#example-code-container{
    font-size: 16px;
    max-width: 450px; /*IE fix*/
}

#html-copy-to-clipboard{
    display: flex;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 25px;
}

#example-js-code-container, #example-code-block{
    font-size: 20px;
}

@media only screen and (max-width: 400px){
    #example-js-code-container, #example-code-block{
        font-size: 15px;
    }
}

#generator-section-container{
    background-color: #F5F5F6;
    margin-top: 30px;
}

.scrollable-container{
    max-height: 40vh;
    border: 1px solid lightgray;        
    overflow-y: scroll;
}

.scrollable-container .scrollable-content{
    min-height: 80vh;
    position: relative;
}
.scrollable-container .scrollable-content .top{
    position: absolute;
    top:5px;
}

.scrollable-container .scrollable-content span{
    position: absolute;
    top: 50%;
}

.scrollable-container .scrollable-content .bottom{
    position: absolute;
    bottom:5px;
}

#example-1-width{
    width: 80px;
}

.disclaimer {
    padding-top: 15px;
}

.color-input{
    height: 38px !important;
    padding: 2px !important;
}

.other-project-links-container{
    justify-content: space-around;
    flex-wrap: wrap;
}
.other-project-links-container a{
    text-align: center;
    text-transform: uppercase;
    font-family: cursive;
    color: #4f5b62;
}
/************SEMANTIC UI OVERRIDES***************/
.step{
    padding-left:0 !important;
}
.ui.secondary.button{
    background-color: #000a12 !important;
}

/************END SEMANTIC UI OVERRIDES************/