.flex-center{
    display: flex;
    justify-content: center;
}

header{
    text-align: center;
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
}

footer{
    width: 100%;
    margin-top: 30px;
    padding: 10px;
}

section{
    max-width: 350px;
    margin: 0 auto !important;
    padding-top: 50px !important;
}

.content{
    padding-top: 15px;
    text-align: left !important;
}
#example-code-container{
    font-size: 13px;
}

#generator-section-container{
    background-color: #F5F5F6;
}

.scrollable-container{
    max-height: 40vh;
    border: 1px solid lightgray;        
    overflow-y: scroll;
}

.scrollable-container .scrollable-content{
    min-height: 80vh;
    position: relative;
}
.scrollable-container .scrollable-content .top{
    position: absolute;
    top:5px;
}

.scrollable-container .scrollable-content span{
    position: absolute;
    top: 50%;
}

.scrollable-container .scrollable-content .bottom{
    position: absolute;
    bottom:5px;
}

#example-1-width{
    width: 80px;
}

.disclaimer {
    padding-top: 15px;
}

.color-input{
    height: 38px !important;
    padding: 2px !important;
}

.string{
    color:#008C79;
}

.number{
    color:blue;
}
.color{
    color:#4f5b62;
}
.paddingl15{
    padding-left: 15px;
}
.paddingl30{
    padding-left: 30px;
}
.paddingl45{
    padding-left: 45px;
}
.function{
    color:#0288d1;
}