
body{
    max-width: 80vw;
    margin: 0 auto;
    min-width: 250px;
}

.examples-container{
    .scrollable-container{
        max-height: 40vh;
        border: 1px solid lightgray;        
        
        .scrollable-content{
            min-height: 80vh;
            position: relative;
            justify-content: center;
            display: flex;

            .top{
                position: absolute;
                top:5px;
            }
            span{
                position: absolute;
                top: 50%;
            }
            .bottom{
                position: absolute;
                bottom:5px;
            }
        }
    }
}


